#root {
  margin: 0 auto;
  padding: 0 auto;
}

.App{
  /* display: grid;
  gap: 1rem;
  grid-auto-columns: 1fr 1fr 1fr; 
  grid-auto-rows: 1fr 1fr 1fr;  */
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

